_configs.sed
_libs
.deps
.libs
*.a
*.la
*.lo
*.ncb
*.o
*.opt
*.plg
*.so
*.so.*
*.tmp
acconfig.h
aclocal.m4
autom4te.cache
build/
buildmk.stamp
cmake_install.cmake
CMakeCache.txt
CMakeFiles
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.in~
CPackConfig.cmake
CPackSourceConfig.cmake
cscope.out
depcomp
install_ubuntu.sh
install_win32.bat
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
meta_cc
meta_ccld
missing
mkinstalldirs
ubuntu-debug/
ubuntu/
